
.main__services-top {
    display: flex;
    padding: 50px 10px;

}
.main__services-categories{
    max-width: 280px;
}
.main__services-top h2 {
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin: 0;
}

.main__services-top div {
    align-self: flex-end;
    padding-bottom: 1px;
}
.main__services-top h2+div{
    margin-left: 10px;
	color: #4F4F4F;
	font-family: B20 Sans;
	font-size: 17px;
}
.main__services-top div:last-child {
	margin-left: auto;
	font-family: B20 Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	color: #713E8B;
	display: flex;
	margin-right: 20px;
}
.main__services-top div:last-child .arrow {
    position: relative;
    width: 22px;
    height: 1px;
    background-color: #713E8B;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    align-self: center;
    margin-left: 20px;

}
.main__services-top div:last-child .arrow:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    top: -2px;
    right: -2px;
    background-color: #713E8B;
    transform: rotate(45deg);
}
.main__services-top div:last-child .arrow:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    top: 2px;
    right: -2px;
    background-color: #713E8B;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-45deg);
}
.main__services-categories h3{
    font-family: 'PT Sans Narrow';
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #713E8B;
}
.main__services-categories h3 img{
    max-width: 45px;
    max-height: 45px;
    margin-right: 10px;
    padding-left: 27px;
}

.main__services-categories h3 span{
    vertical-align: super;
}
.services-category ul a{
    font-family: 'B20 Sans';
    font-weight: 300;
    font-size: 17px;
    color: #4F4F4F;
    text-decoration: none;
}
.services-category ul li{
    line-height: 25px;
}
.services-category ul span{
    font-family: 'B20 Sans';
    font-weight: 300;
    font-size: 17px;
    color: #BDBDBD;
    padding-left: 10px;
}
.services-category ul  a.active{
    font-weight: bold;
}
.services-category{
    display: flex;
    max-height: 1420px;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
}  

@media screen and (max-width: 1200px){
    .services-category {
        max-height: 1700px;
    }
}
@media screen and (max-width: 992px){
    .services-category {
        max-height: 3000px  ;
    }
}